html {
    
    height: 250vh;
    scroll-behavior: smooth;
    background-image: black;

}

body {
    font-size: 20px;
    height: 100vh;
    margin: 0;

    /* I have no idea why but putting this twice stops me from running into white backgrounds when scrolling to the bottom */

    background-repeat: no-repeat;
    background-image: linear-gradient(to bottom, #2B0707, #1f0606, #000000);
    font-family: "Inter", sans-serif;


    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

}




nav {
    z-index: 10;
    top: 0;
    width: 100vw;
    position: fixed;

    overflow: hidden;
    background-color: #14040471;
    backdrop-filter:blur(8px);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-left: 5vw;
    padding-right: 5vw;
    background-color: #1f060671;
    text-align: center;
}



.right {
    float: right;
}

.left {
    float: left;
}



ul li a {
    display: block;
    color: white;
    font-size: 120%;
    text-align: center;
    padding: 2vh 2vw;
    text-decoration: none;
}

ul li a:hover {
    color: #b83e3e;
}

ul li a:active {
    color: #b69797;
}

.title {
    position: relative;
    padding-bottom: 20vh;
    padding-top: 25vh;
}

.title h1 {
    font-size: 500%;
    color: white;
    text-align: center;
    padding-right: 80px;
    padding-left: 80px;
    margin-bottom: 0;
}

.title h2 {
    position: relative;
    z-index: 4;
    font-size: 200%;
    color: white;
    text-align: center;
    padding-right: 80px;
    padding-left: 80px;
    padding-bottom: 0.5vh;
    margin-top: 0vh;
    background: rgb(255, 255, 255);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    
    color: transparent;
    transition: all 0.3s ease-in-out;
}


.title h2:hover {
    font-size: 250%;
    color: white;
    text-align: center;

    text-shadow:
    0 0 10px rgba(255, 255, 255, 0.127),
    0 0 20px rgba(255, 255, 255, 0.127),
    0 0 30px rgba(255, 255, 255, 0.127),
    0 0 40px rgba(255, 255, 255, 0.127);
    
     background: linear-gradient(to right, #ffffff, #8f8f8f);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

    padding-right: 80px;
    padding-left: 80px;
    padding-bottom: 0vh;
    margin-top: 0px;
}

 .title hr {
    margin:0;
    padding:0;
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
   bottom: 19vh;
   padding-top: 0.5vh;
   width: 30%;
   z-index: 3;
   border: none;
   margin-top: 2vh;
   background-color: rgb(252, 252, 252);
   transition: all 0.3s ease-in-out;
}


.title h2:hover ~ hr{
   bottom: 16vh;
}


.title #githubLogo {

    position: absolute;
    left: 50%;
    bottom: 9vh;
    z-index: 1;
    transform: translate(-50%, -50%);

    width: 4vw;
    height: 8vh;
    filter: invert(100%);

    mask-mode: luminance;
    -webkit-mask-mode: luminance;
    mask-image: url('/assets/lossless1.svg');
    -webkit-mask-image: url('/assets/lossless1.svg');
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-size: 10vh 10vw;
    -webkit-mask-size: 10vh 10vw;
    mask-position: center 72%;
    -webkit-mask-position: center 72%;
    transition: all 0.32s ease-in-out;
}

.title h2:hover ~ #githubLogo {
    mask-position: center 49%;
    -webkit-mask-position: center 49%;
}

.subHeader {
    color: white;
    text-align: center;
    
    padding-top: 10vh;
    padding-left: 300px;
    padding-right: 300px;
    font-size: 20px;

}

