html {
    height: 250%;
    scroll-behavior: smooth;
    background-image: black;
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-image: linear-gradient(to bottom, #2B0707, #1f0606, #000000);
}

body {

    height: 100%;
    margin: 0;

    /* I have no idea why but putting this twice stops me from running into white backgrounds when scrolling to the bottom */

    background-repeat: no-repeat;
    background-image: linear-gradient(to bottom, #2B0707, #1f0606, #000000);
    font-family: "Inter", sans-serif;


    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

}


nav {
 
    top: 0;
    width: 100%;
    position: fixed;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #14040471;
    backdrop-filter:blur(8px)
}

ul {
       list-style-type: none;
    margin: 0;
    padding: 0;
    padding-left: 300px;
    padding-right: 200px;
    background-color: #1f060671;
    text-align: center;
}



.right {
    float: right;
}

.left {
    float: left;
}



ul li a {
    display: block;
    color: white;
    font-size: 25px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul li a:hover {
    color: #b83e3e;
}

ul li a:active {
    color: #b69797;
}

.title {
       padding-top:360px;
       padding-bottom:360px;
}

.title h1 {
    font-size: 100px;
    color: white;
    text-align: center;
    padding-right: 80px;
    padding-left: 80px;
    padding-bottom: 35px;
    margin-bottom: 0px;
}

.title h2 {
    font-size: 40px;
    color: white;
    text-align: center;
    padding-right: 80px;
    padding-left: 80px;
    padding-bottom: 0px;
    margin-top: 0px;
    background: rgb(255, 255, 255);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

    
    color: transparent;
    transition: padding-bottom 0.3s ease-in-out, font-size 0.3s ease-in-out, background 1s ease-in-out, 0.3s text-shadow ease-in;
}


.title h2:hover {
    font-size: 50px;
    color: white;
    text-align: center;

    text-shadow:
    0 0 10px rgba(255, 255, 255, 0.127),
    0 0 20px rgba(255, 255, 255, 0.127),
    0 0 30px rgba(255, 255, 255, 0.127),
    0 0 40px rgba(255, 255, 255, 0.127);
    
     background: linear-gradient(to right, #ffffff, #8f8f8f);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

    padding-right: 80px;
    padding-left: 80px;
    padding-bottom: 35px;
    margin-top: 0px;
}

hr {
   padding-top: 5px;
   width: 30%;
   border: none;
   margin-top: 20px;
   background-color: rgb(252, 252, 252);
}

.subHeader {
    color: white;
    text-align: center;
    
    padding-top: 100px;
    padding-left: 300px;
    padding-right: 300px;
    font-size: 20px;

}

.subHeader h1 {

}


