html {
    height: 250%;
    scroll-behavior: smooth;
    background-image: black;
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-image: linear-gradient(to bottom, #2B0707, #1f0606, #000000);
}

body {
    font-size: 20px;
    height: 100%;
    margin: 0;

    /* I have no idea why but putting this twice stops me from running into white backgrounds when scrolling to the bottom */

    background-repeat: no-repeat;
    background-image: linear-gradient(to bottom, #2B0707, #1f0606, #000000);
    font-family: "Inter", sans-serif;


    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

}




nav {
 
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #14040471;
    backdrop-filter:blur(8px)
}

ul {
       list-style-type: none;
    margin: 0;
    padding: 0;
    padding-left: 300px;
    padding-right: 200px;
    background-color: #1f060671;
    text-align: center;
}



.right {
    float: right;
}

.left {
    float: left;
}



ul li a {
    display: block;
    color: white;
    font-size: 25px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul li a:hover {
    color: #b83e3e;
}

ul li a:active {
    color: #b69797;
}

.title {
       padding-bottom: 10.5%;
}

.title h1 {
    padding-top:15%;
    font-size: 500%;
    color: white;
    text-align: center;
    padding-right: 80px;
    padding-left: 80px;
    padding-bottom: 1%;
    margin-bottom: 0%;
}

.title h2 {
    position: relative;
    z-index: 4;
    font-size: 40px;
    color: white;
    text-align: center;
    padding-right: 80px;
    padding-left: 80px;
    padding-bottom: 0%;
    margin-top: 0%;
    background: rgb(255, 255, 255);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

    
    color: transparent;
    transition: padding-bottom 0.3s ease-in-out, font-size 0.3s ease-in-out, background 1s ease-in-out, 0.3s text-shadow ease-in;
}


.title h2:hover {
    font-size: 50px;
    color: white;
    text-align: center;

    text-shadow:
    0 0 10px rgba(255, 255, 255, 0.127),
    0 0 20px rgba(255, 255, 255, 0.127),
    0 0 30px rgba(255, 255, 255, 0.127),
    0 0 40px rgba(255, 255, 255, 0.127);
    
     background: linear-gradient(to right, #ffffff, #8f8f8f);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

    padding-right: 80px;
    padding-left: 80px;
    padding-bottom: 1.45%;
    margin-top: 0px;
}

hr {
    position: relative;
   padding-top: 5px;
   width: 30%;
   z-index: 2;
   border: none;
   margin-top: 2%;
   background-color: rgb(252, 252, 252);
}


.mask{
  position: absolute;
  mask-mode: luminance;
  top: 80%;
  left: 50%;
  mask-image: url('/assets/lossless1.svg');
  mask-repeat: no-repeat;
  mask-size: 300px 300px;
  mask-position: center 80%;
  transition: top 0.3s ease-in-out;
  z-index: 3;
}

.title h2:hover ~ .mask{
    top: 29%;

}


#githubLogo {

    position: absolute;
    top: 64.8%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);

    width: 50px;
    height: 50px;
    filter: invert(100%);
    transition: filter 0.3s ease-in-out;

    mask-mode: luminance;
    -webkit-mask-mode: luminance;
    mask-image: url('/assets/lossless1.svg');
    -webkit-mask-image: url('/assets/lossless1.svg');
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-size: 300px 300px;
    -webkit-mask-size: 300px 300px;
    mask-position: center 80%;
    -webkit-mask-position: center 80%;
    transition: all 0.3s ease-in-out;
}

.title h2:hover ~ #githubLogo {
    mask-position: center 51.5%;
    -webkit-mask-position: center 51.5%;
}

.subHeader {
    color: white;
    text-align: center;
    
    padding-top: 10%;
    padding-left: 300px;
    padding-right: 300px;
    font-size: 20px;

}

