
/* I fixed the issues with the nav bar being off center*/
/* From now on use rem units for everything in this file that is proportion heavy */
.side-nav {
    z-index: 9999;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 0;
    padding-top: 0;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-app-region: no-drag;
    -webkit-user-drag: none;
}

.side-nav .nav-button-container {
    position: relative;

    padding-top: 5rem;
    padding-bottom: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-button, .nav-button-active {

    width: 10rem;
    height: auto;

}



.side-nav  .nav-button {
    position: absolute;

    transform: rotate(-90deg) translateY(170%);
    filter: contrast(0) brightness(0);
    transition: all 0.15s ease;
}



 .side-nav .nav-button-active {
    position: absolute;
    transform: rotate(-90deg) translateY(190%);
    filter: contrast(0) brightness(2);
    transition: all 0.15s ease;
}


 .side-nav .invisible-button {
    position: absolute;
    width: 7rem;
    height: 7rem;
    filter: contrast(0) brightness(2);
    transition: all 0.15s ease;
    z-index: 99;
    opacity: 0;
}

.side-nav .invisible-button:hover ~ .nav-button {
      position: absolute;

    transform: rotate(-90deg) translateY(420%);
    filter: contrast(0) brightness(0.2);
    transition: all 0.15s ease;
}

.side-nav .invisible-button:active ~ .nav-button {
    transform: rotate(-90deg) translateY(480%);
    filter: contrast(0) brightness(1);
}



