

.top-nav {
/* don't change under any circumstances*/
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, 26%);
}

.top-nav ol {
/* don't change under any circumstances*/
    display: flex;
    place-items: center;
    
}

.nav-button-container{
    padding-top: 1.3rem;
    padding-left: 3rem;
    padding-right: 3rem;


}

.top-nav li{
    transform: translate(0%, 150%);
    font-size: 1.6rem;
    font-weight: 600;
    text-decoration: none;
    list-style-type: none;
    text-align: center;
    color: rgb(192, 192, 192);
    transition: all 0.35s ease;
}


.nav-button-underline {
position: absolute;
width:23%;
height:auto;

transform: translate(-50%, 120%);


/* white filter */ 
filter: contrast(0) brightness(1);

transition: all 0.3s ease;
}

.nav-button-container .nav-button {
position: absolute;
width: 10%;
height: auto;

transform: translate(-48.6%, -50%);
transition: all 0.3s ease;
}

.nav-button:hover ~ .nav-button-underline{
    width: 26%;
    transform: translate(-50%, 120%) translateY(30px);
    filter: contrast(0) brightness(2);
}
.nav-button:hover ~ li {
    transform: translate(0%, 150%) translateY(35px);
    font-size: 1.8rem;
    color: white;
}

.nav-button:hover {
    width: 12%;
    filter: contrast(0) brightness(0.3);

}

.nav-button:active {
    width: 12%;
    filter: contrast(0) brightness(0.6);

}
