    /* I fixed the issues with the nav bar being off center*/
    /* From now on use rem units for everything in this file that is proportion heavy */
    .top-nav {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        transform: translateY(5rem);
            margin-top: 0;
            padding-top: 0;
    }

    .nav-button-container{
        position: relative;
        padding-top: 0.2rem;
        padding-left: 5rem;
        padding-right: 5rem;


    }

    .nav-button-container h1{
        position: absolute;
        transform: translateX(-50%);
        text-align: center;
        top: 0;
        padding-top: 3rem;
        font-size: 1.6rem;
        font-weight: 600;

        color: rgb(192, 192, 192);
        transition: all 0.35s ease;
    }


    .nav-button-underline {
    position: absolute;
    width: 15rem;
    height:auto;

    --underline-translateX: 100px;

    transform: translate(-50%, 120%);


    /* white filter */ 
    filter: contrast(0) brightness(1);

    transition: all 0.3s ease;
    }

    .nav-button-container .nav-button {
    position: absolute;
    width: 6rem;
    height: auto;

    transform: translate(-48.6%, -50%);
    transition: all 0.3s ease;
    }

    .nav-button:hover ~ .nav-button-underline{
        width: 19rem;
        transform: translate(-50%, 120%) translateY(30x);
        filter: contrast(0) brightness(2);
        animation-play-state: paused;
    }
    .nav-button:hover ~ h1 {
        transform: translate(-50%, 20%);
        font-size: 1.8rem;
        color: white;
        animation-play-state: paused;
    }

    .nav-button:hover{
        width: 8rem;
        filter: contrast(0) brightness(0.3);
        animation-play-state: paused;
    }

    .nav-button:active{
        width: 5.5rem;
        filter: contrast(0) brightness(0.6);
        animation-play-state: paused;
    }
