    /* I fixed the issues with the nav bar being off center*/
    /* From now on use rem units for everything in this file that is proportion heavy */
    .top-nav {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        transform: translateY(5rem);
            margin-top: 0;
            padding-top: 0;

              user-select: none;

              /*anti highlight
  /* Firefox prefix */
  -moz-user-select: none;
  /* Webkit (Safari, Chrome) and Opera prefix */
  -webkit-user-select: none;
  /* IE/Edge prefix */
  -ms-user-select: none;
  /* Konqueror HTML prefix */
  -khtml-user-select: none;
    }

    .nav-button-container{
        position: relative;
        padding-top: 0.2rem;
        padding-left: 5rem;
        padding-right: 5rem;


    }

    .nav-button-container h1{
        position: absolute;
        transform: translateX(-50%);
        text-align: center;
        top: 0;
        padding-top: 3rem;
        font-size: 1rem;
        font-weight: 600;
        text-shadow: 2px 2px #1d1a1a;

        color: rgb(192, 192, 192);
        transition: all 0.3s ease;
    }


    .nav-underline {
    position: absolute;
    width: 12rem;
    height:auto;

    --underline-translateX: 100px;

    transform: translate(-50%, 120%);   


    /* white filter */ 
    filter: contrast(0) brightness(1);

    transition: all 0.3s ease;
    }

    .nav-button {
    position: absolute;
    width: 5rem;
    height: auto;

    transform: translate(-48.6%, -50%);
    transition: all 0.3s ease;
    }

    .nav-button:hover ~ .nav-underline{
        width: 10rem;
        transform: translate(-50%, 120%) translateY(10px);
        filter: contrast(0) brightness(2);

    }

    .nav-button:hover ~ h1 {
        transform: translate(-50%, -5%);
        font-size: 1.3rem;
        color: white;

    }
    
    .nav-button:hover{
        width: 4rem;
        filter: contrast(0) brightness(0.3);

    }

    .nav-underline-active{
    position: absolute;
    width: 17rem;
    height:auto;

    --underline-translateX: 100px;

    transform: translate(-50%, 140%);   


    /* white filter */ 
    filter: contrast(0) brightness(2);

    transition: all 0.3s ease;

    }

   
    .nav-button-active ~ h1{
        transform: translate(-50%, 10%);
        font-size: 1.5rem;
        color: white;
        text-shadow: 3px 3px #1d1a1a;

    }



    .nav-button-active {
         position: absolute;
    width: 6.6rem;
    height: auto;

    transform: translate(-48.6%, -50%);
    transition: all 0.3s ease;
    }
